.container {
  /* min-height: 100vh; */
  /* padding: 0 0.5rem; */
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  /* align-items: center; */
}

.main {
  /* padding: 2rem 0; */
  /* flex: 1; */
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.footer {
  width: 100%;
  height: 50px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
}

.title {
  text-align: center;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.logo {
  margin: 0.5rem;
  padding: 0.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
}

.start {
  display: flex;
  flex-direction: column;
}

.start > button {
  margin-top: 15px;
}

.start > label {
  margin-bottom: 15px
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
